<h4 class="page-header">Display Product from services</h4>
<form #frm >
<div class="well">
  Product ID:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type=text #proId/><br>
  Product Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type=text #proName/><br>
  Product Cost:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type=text #proCost/><br>
  Product Category:&nbsp;<input type=text #proCategory/><br>
</div>
<button class="btn btn-primary" type="reset">Form clear</button>
</form>
<hr>
<button class="btn btn-primary" (click)="addproductsToService(proId.value,proName.value,proCost.value,proCategory.value)">Addd</button>
&nbsp;<button class="btn btn-danger" (click)=delproductToService(proId.value,proName.value,proCost.value,proCategory.value)>Delete</button> 
<hr>
<button class="btn btn-primary" (click)='clearTextboxes()' type="reset">clear</button>
&nbsp;<button class="btn btn-info" (click)='updateTextboxes()' type="reset">Update</button>
<table class='table table-bordered' >

  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Cost</th>
    <th>Category</th>
  </tr>
  <tr *ngFor="let item of products" >
    <td>{{item.proID }}</td>
    <td>{{item.proName}}</td>
    <td>{{item.proCost}}</td>
    <td>{{item.proCategory}}</td>
  </tr>



</table>
