<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <!-- <h1>
    Welcome to {{ title }}!

  </h1>
  <div class="btn btn-primary">hello</div>

  <div class="container">
    <hr>
  <table  id="1" border="2" align="center">

    <thead>
      <th>Name</th>
      <th>Address</th>
      <th>Phone No.</th>
    </thead>
    <tr>
      <td>{{name1}}</td>
      <td>{{address1}}</td>
      <td>{{phone1}}</td>
    </tr>
    <tr>
      <td>{{name2}}</td>
      <td>{{address2}}</td>
      <td>{{phone2}}</td>
      </tr>
      <tr>
        <td>{{name3}}</td>
        <td>{{address3}}</td>
        <td>{{phone3}}</td>
      </tr>
      
      </table>
      
      <hr>
      <app-chil-component></app-chil-component>
      <p>hi Ankit! you are Awesome</p>
      <app-employeelist></app-employeelist>
      <hr />
      <app-assignment></app-assignment>
      </div> -->
   
<app-nav-bar></app-nav-bar>
<hr>
<router-outlet></router-outlet>
<hr>
</div>