<nav class="navbar navbar-inverse">
  <div class="conatiner-fluid">
    <div class="navbar-header">
    <a class ="navbar-brand" href="#">Ankit</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="nav-item"><a routerActiveLink='active' routerLink="home">home</a></li>
            <li class="nav-item"><a routerActiveLink='active' routerLink="about">about</a></li>
            <li class="nav-item"><a routerActiveLink='active' routerLink="contactus">contactus</a></li>
            <li class="nav-item"><a routerActiveLink='active' routerLink="employee">employeeList</a></li>
            <li class="nav-item"><a routerActiveLink='active' routerLink="eventDemo">Event</a></li>
            <li class="nav-item"><a routerActiveLink='active' routerLink="form">Form</a></li>
            <li class="nav-item"><a routerActiveLink='active' routerLink="reactiveform">ReactiveForm</a></li>
            <li class="nav-item"><a routerActiveLink='active' routerLink="login">Login</a></li>
            <li class="nav-item"><a routerActiveLink='active' routerLink="serviceDemo">Services</a></li>
            <li class="nav-item"><a routerActiveLink='active' routerLink="parentToChild">Parent</a></li>
          </ul>

    </div>
  </div>
 
</nav>
